
<%if @user.is_student %>
    <h2>Student</h2>
    <% @user.courses.each.with_index do |course, index| %>
        <p>
            
            Course: <%= course.code %> <br/>
            <%= link_to "Name: #{course.name} ", "/courses/#{course.id}" %>
        </p>
    <% end %>

<% else %>
    <h2>Instructor</h2>
    <% @user.courses.each.with_index do |course, index| %>
        <p>
            
            Course: <%= course.code %> <br/>
            <%= link_to "Name: #{course.name} ", "/courses/#{course.id}" %>
        </p>
    <% end %>
<% end %>

