<%= javascript_pack_tag 'tasks' %>

<div style='text-align: center;'>
  <h1><%=@team.name%> Task List</h1>
</div>

<%= content_tag :div,
  id: "tasks-mount-point",
  data: @tasks.to_json do %>
<% end %>
