
<h2>Teams:</h2>

<table class="table" style="margin-top: 2.55%; text-align: center">
  <thead class="thead-dark">
    <tr>
      <th>Team Name</th>
      <th>Number of Members</th>
      <th>Member Capaicty </th>
      <th>Status</th>
      <th>Team Liaison</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td> <% team.name %> </td>
      <td> <% team.users.count %> </td>
      <td><% team.maximum_capacity %> </td>
      <% if team.status == true %>
        <td color: red>"Full!"</td>
      <% else %>
        <td color: green> "Open" </td>
      <% end %>
      <% team.users.each do |liaison| %>
        <% if liaison.is_liaison %>
          <td>liason.name</td>
          <% break %>
        <% end %>
    </tr>
  </tbody>
