.course {
    width: 350px;
    border-style: solid;
    border-width: 3px;
    border-color: #dc3545;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.course:hover {
    background-color: #dc3545;
    color: white;
}
.center-div {
    text-align: center;
}




