.input {
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.input-title {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.submit-btn {
    padding-top: 10px;
}