/*-------------------------------------------------------------------------------------------------*/
/*Header/Footer*/
/*-------------------------------------------------------------------------------------------------*/

.header {
    font-size: 300%;
    font-style: italic;
    width: 960px;
    padding: 10px 20px 5px;
    margin: 0 auto;
    border-radius: 0;
    background: #FFF;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}

.header-link {
    font-size: 50%;
}

.header-float-right {
    text-align: end;
    margin-right: 25px;
}

.gray-name {
    color: gray !important;
}

.site_title {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-style: italic;
}

.logo-center{
    margin-right: 10px;
    color: black;
}

.small-img{
    height: 30px;
    width: 30px;
}

.footer {
    font-size: .8em;
    width: 960px;
    margin: auto;
    padding: 30px 20px 50px;
    clear: both;
    color: #b2b5b9;
    background: #1e1e1e;
    box-sizing: content-box;
}

.footer h3{
    margin-bottom: 5px;
    color: red;
}

.footer-links li{
    color: whitesmoke;
}

.footer-links li a{
    color: lightgray;
}

.site_title {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-style: italic;
}

.site_title .title{
    margin-right: 10px;
}

.site_title .title:hover{
    color: inherit;
    text-decoration: none;
}

.logo-icons{
    font-size: 27px;
    color: #ef2f2f;
    margin-right: 0px;
}
