/*-------------------------------------------------------------------------------------------------*/
/*Modal*/
/*-------------------------------------------------------------------------------------------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-custom {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #cc1413;
    width: 50%;
    text-align: center;
}

.modal-content-custom h2{
    font-size: 50px;
}

.modal-content-custom button{
    width: 50px;
}
