/**************************************************************************************/
/*- Site Structure -*/
/************************************************************************************/

html {
    font-size: 100%;
}

/*used to overwrite the border-box in bootstrap*/
*,
*::before,
*::after {
    box-sizing: content-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875em;
    line-height: 1.6em;
    color: #666;
    box-sizing: content-box;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.container {
    font-size: 1em;
    width: 960px;
    background: #FFF;
    padding: 15px 20px;
    margin: auto;
    position: relative;
    clear: both
}

.container ol li {
    list-style: none
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.clear{
    clear: both;
}

.margin-ten-ends{
    margin-left: 10px;
    margin-right: 10px;
}


.rowCart {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
    height: 100px;
    text-align: center;
}

.rowCartCheckout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100px;
    text-align: center;
}

.rowCartTotal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
    height: auto;
    text-align: center;
}

.rowCartTotal .line-height{
    line-height: 40px;
}

.rowCartTotal .right{
    float: right;
    font-size: 20px;
}

.rowCartTotal .tot-money{
    float: left;
    font-size: 20px;
}

.cart-box{
    box-sizing: border-box;
}

label{
    margin: 0;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #666
}



/**************************************************************************************/
/*- pagination -*/
/************************************************************************************/

/*these two css classes must remain for ajax navigation 4*/
/*you can change attributes inside them*/
.current, .pages { /*css for current page*/
    background: #F4F4F4;
    /*background: #ff7f7f;*/
    padding: 0px 5px;
    border-radius: 3px;
    position: relative;
    float: left;
    text-align: center;
    cursor: auto;
    margin-right: 3px;
    padding-top: 1px;
}

.pages { /*css for other pages*/
    border: none;
    cursor: pointer;
    float: left;
    margin-right: 5px
}

.pages:hover, .current {
    background-position: 0 -16px;
    font-weight: bold;
    float: left;
    margin-right: 5px
}

/*end required css for ajax navigation 4*/

.article_box2, .box_footer {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/**************************************************************************************/
/*-Columns-*/   /*-Needed for footer on every page-*/
/************************************************************************************/

.col {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth, .index-body, .index-body2, .inner-content, .one-third-big {
    float: left;
}

.one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth, .index-body, .inner-content, .one-third-big {
    margin-right: 30px;
}

div#container > div.index-body2.index-body2-no-margin{
    margin-right: 0;
}

div#container > div.index-body2.index-body2-margin{
    margin-right: 10px;
}

.index-body h2{
    font-family: "QuicksandBook", Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 700;
}

.one {
    width: 960px;
}

.one-half {
    width: 465px;
}

.two-third {
    width: 630px;
}

.one-third {
    width: 300px;
}

.inner-content {
    width: 712px;
}

.one-third-big {
    width: 340px;
}

.one-fourth {
    width: 217px;
}

.one-fifth {
    width: 168px;
}

.one-sixth {
    width: 135px;
}

.index-body {
    width: 17%;
}

.index-body2 {
    width: 75%;
}

.last {
    margin-right: 0px !important;
}

/*-idk-*/

.border-bottom-cart{
    border-bottom: 1px solid gray;
    height: auto;
}

.border-left-cart{
    border-left: 1px solid gray;
}

.data{
    font-size: 15px;
    line-height: 100px;
    border-left: 1px solid gray;
}
.line-height{
    line-height: 100px;
}

.data-title{
    font-size: 20px;
    line-height: 100px;
    border-left: 1px solid gray;
}

#bookCover{
    width: 50px;
    height: 71px;
    margin-top: 10px;
}

#subtotalRow{
    float: right;
    margin-bottom: -10px;
    margin-right: 10px;
}

/*-------------------------------------------------------------------------------------------------*/
/*Misc*/
/*-------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------*/
/*Input required*/
/*-------------------------------------------------------------------------------------------------*/
.index-search-req{
    font-size: 70%;
    color: red;
    visibility: hidden;
}

/*-------------------------------------------------------------------------------------------------*/
/*To be organized*/
/*-------------------------------------------------------------------------------------------------*/

.search-container {
    float: right;
}

.search-container button {
    float: right;
    /*margin-top: 8px;*/
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-right: 0px;
    padding: 0px;
    display: inline
}

.search-container button:hover {
    background: #ccc;
}

.search-container p{
    display: inline;
    color: red;
}

.search-input {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    display: inline-block;
    width: 115px;
    padding: 0px;
    margin-bottom: 10px
}

.book-slider {
    text-align: center;
    margin: auto;
}

.slider-image {
    width: 175px;
    height: 268px;
}

.slider-header {
    margin-bottom: 10px;
    text-decoration: underline;
}

.grid-item {
    width: 20%;
    text-align: center;
}

.grid-item--width2 {
    width: 50%;
}

/*-------------------------------------------------------------------------------------------------*/
/*Colours*/
/*-------------------------------------------------------------------------------------------------*/

.white{
    color: white;
}

.gray {
    color: #ccc;
}